<ion-view view-title="Chat" class="has-footer">
	<ion-content class="padding">
		<div class="conversation">
			<div ng-repeat="msg in shownMessages" class="bubble {{msg.source}}" style="border: 1px red solid">
			{{msg.text}}
			</div>
		</div>
		<div class="conversation">
			<div ng-repeat="msg in newMessages">
				<div ng-show="msg.type=='message'" class="bubble {{msg.source}} animated bounceInLeft">
				{{msg.text}}
				</div>
				<div ng-show="msg.type=='options'" class="options">
					<div ng-repeat="opt in msg.options" class="item bubble option" ng-click="pressOption(opt)">
						<p>{{opt.text}}</p>
					</div>
				</div>
				<div ng-show="msg.type=='card'" class="ficha-wrapper">
					<div class="bubble system img-background ficha" ng-click="showHelp(msg.cardId)">
						<h2>{{msg.title}}</h2>
					</div>
					<div class="info icon-light"></div>
				</div>

			</div>
			<div ng-show="pending" class="bubble system loading">
				&nbsp;
			</div>
		</div>
<!--
		<div class="conversation">
			<div class="ficha-wrapper">
				<div class="bubble system img-background ficha" ng-click="showHelp('actividad')">
					<h2>Actividad física. Recomendaciones</h2>
				</div>
				<div class="info icon-light"></div>
			</div>
			<div class="bubble system">
				<p>Parece que tu ingesta de calorías está por debajo de lo normal</p>
			</div>
			<div class="bubble system">
				<p>Puedo ayudarte sugeriéndote alguna idea para completar bien el día</p>
			</div>
			<div class="bubble user">
				<p>¡Cuéntame!</p>
			</div>
			<div class="bubble system">
				<p>Veamos...</p>
			</div>
			<div class="bubble system">
				<p>Ayer solamente hiciste dos tomas</p>
			</div>
			<div class="bubble system">
				<p>Hacer 5 tomas al día es importante para acelerar el metabolismo</p>
			</div>
			<div class="bubble system loading">
				&nbsp;
			</div>
		</div>
		<div class="options">
			<div class="bubble option">
				<p>Lo tendré en cuenta!</p>
			</div>
			<div class="bubble option">
				<p>Comí algo más</p>
			</div>
			<div class="bubble option">
				<p>Necesito más ayuda</p>
			</div>
		</div>
-->
	</ion-content>
</ion-view>
