<ion-view hide-nav-bar="false" class="has-header">
<ion-nav-title>Información de ayuda</ion-nav-title>
<ion-nav-bar>
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
    <ion-slide-page ng-repeat="bgColor in data.bgColors">
    <ion-pane>
      <div class="box {{bgColor}}">
      	<span style="color: green; display: block;">{{bgColor}}</span>
      </div>
    </ion-pane>
    </ion-slide-page>
  </ion-slides>
</ion-view>
