<ion-view view-title="Ingresa" id="login">
<ion-content class="has-header light centered" scroll="false">

<div class="padding">
    <p class="padding-vertical">Si ya te has registrado, ingresa para disfrutar del plan que Salud Movistar ha creado para ti.</p>
    <label class="item item-input">
        <input type="password" placeholder="Contraseña" ng-model="vm.user.password">
    </label>
    <button class="button button-block button-positive" ng-click="vm.signIn()">
        Ingresar
    </button>
    <div ng-show="vm.error">Usuario o contraseña inválidos.</div>
</div>
<div class="padding">
<hr class="light">
</div>
<div class="padding">
    <p>También puedes ingresar directamente a través de tu email</p>
    <button class="button button-block button-positive" ui-sref="signin-email">
        Acceder directamente
    </button>
</div>
</ion-content>
</ion-view>
