<ion-view id="login">
<ion-nav-title>Ingresa</ion-nav-title>
<ion-content class="has-header light centered" scroll="false">

<div class="padding transparent">
    <p class="padding-vertical">Si ya te has registrado, ingresa para disfrutar del plan que Salud Movistar ha creado para ti.</p>
    <label class="item item-input">
        <input type="password" placeholder="Contraseña" ng-model="vm.user.password">
    </label>
    <button class="button button-block button-positive" ng-click="vm.signIn()" analytics-on="click" analytics-event="login" analytics-category="user_and_password">
        Ingresar
    </button>
    <div ng-show="vm.error">Usuario o contraseña inválidos.</div>
</div>
<div class="padding">
    <div class="separator">
        <hr class="light left"><span>O</span><hr class="light right">
    </div>
</div>
<div class="padding">
    <p>También puedes ingresar directamente a través de tu email</p>
    <button class="button button-block button-positive" ui-sref="signin-email">
        Acceder directamente
    </button>
</div>
</ion-content>
</ion-view>
