<ion-view view-title="Ingresa" id="login">
    <ion-content class="light centered">
    	<div class="padding">
    		<img src="../img/others/sent_email.png" class="full-width padding-vertical">
    	</div>
	    <div class="padding">
	        <h2>Revisa tu correo</h2>
	        <p>Te hemos enviado un email con las instrucciones para que puedas entrar automáticamente en Salud Movistar.</p>
	        <p>Recuerda que debes abrirlo con el dispositivo donde téngas instalada la aplicación Nire. No olvides revisar tu bandeja de spam.</p>
        </div>
        <div class="padding">        
            <button class="button button-block button-positive" href="mailto:frank@wwdcdemo.example.com">
                Abrir email
            </button>
        </div>
    </ion-content>
</ion-view>
