      <ion-view view-title="Sign-In">
        <ion-content class="has-header" id="signin">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Sign-In
            </button>
            <button class="button button-block button-positive" ng-click="facebookLogin()">
              Facebook login
            </button>
            <button class="button button-block button-positive" ng-click="showHelp()">
              Help me!
            </button>
            <div>
              <p>Device token: {{pushToken}}</p>
            </div>
            <button class="button button-block button-positive" ng-click="trackFood()">
              New track
            </button>
          </div>
        </ion-content>
      </ion-view>
