<ion-view view-title="Ingresa" id="login">
<ion-content class="has-header light centered" scroll="false">

<div class="padding transparent">
  <p class="padding-vertical">Si ya te has registrado, ingresa para disfrutar del plan que Salud Movistar ha creado para ti.</p>
  <label class="item item-input">
    <input type="text" placeholder="Username" ng-model="vm.user.username">
  </label>
  <button class="button button-block button-positive" ui-sref="signin-password">
    Siguiente
  </button>
</div>
<div class="padding">
    <div class="separator">
        <hr class="light left"><span>O</span><hr class="light right">
    </div>
</div>
<div class="padding">
  <nire-facebook-login>Iniciar sesión con Facebook</nire-facebook-login>
</div>

<div class="row">
  <div class="col-offset-10 col-80">
    <div class="list card">
      <label class="item item-input item-stacked-label padding">
        <span class="input-label">Device token</span>
        <input type="text" value="{{ vm.pushToken }}" readonly>
      </label>
    </div>
  </div>
</div>

</ion-content>
</ion-view>