
<ion-view id="diary">
<ion-nav-title>
  <div class="bar bar-header bar-light">
    <button class="button button-icon icon ion-ios-arrow-back"></button>
      <h1 class="title">{{pageTitle}}</h1>
    <button class="button button-icon ion-ios-arrow-forward"></button>
  </div>
</ion-nav-title>

<ion-slides (ionDidChange)="onSlideChanged()" options="data.sliderOptions" slider="data.sliderDelegate">
<ion-slide-page ng-repeat="day in timelineDays" class="{{day.timelineClass}}">

<ion-content class="padding">
<ks-swiper-container initial-slide="0" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="1" space-between="5" pagination-is-active="true" pagination-clickable="true" override-parameters="{effect: 'slide'}" class="top-widget">

<ks-swiper-slide class="swiper-slide challenge-widget" ng-repeat="challenge in day.challenges">
<div class="card" style="background-image: url({{challenge.background}});">
  <div class="row">
    <div class="col col-60">
      <div class="row">
        <h2 class="objetive">{{challenge.area}}</h2>
      </div>
      <div class="row">
        <span class="challenge-title">{{challenge.challenge}}</span>
      </div>
      <div class="row check-progress" ng-show="challenge.milestones">
        <div class="col {{m==true?'checked':'unchecked'}}" ng-repeat="m in challenge.milestones track by $index"></div>
      </div>
    </div>
    <div class="col col-40">
      <i class="icon-info ion-ios-information-outline"></i>
    </div>
  </div>
</div>
</ks-swiper-slide>

<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
  <round-progress
      max="10000"
      current="3564"
      color="green"
      bgcolor="#eaeaea"
      radius="100"
      stroke="20"
      semi="true"
      rounded="true"
      clockwise="false"
      responsive="false"
      duration="800"
      animation="easeInOutQuart"
      animation-delay="0" />
    <img src="img/others/mockups/1.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/2.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/3.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/4.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/5.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/widget_reto_verdura.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/widget_activate_notifications.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/widget_reto_breakfast.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/widget_resume_activity.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/widget_reto_activity.jpg">
  </div>
</div>
</ks-swiper-slide>
<ks-swiper-slide class="swiper-slide light">
<div class="card">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/widget_resume_steps.jpg">
  </div>
</div>
</ks-swiper-slide>
</ks-swiper-container>
<div class="card add" ng-show="trackBlock(1, day.day)">
  <div class="item item-body" nav-direction="enter" ui-sref="trackfood({mealId:1, day: day.day})">
    <span class="plus-circle-icon"></span>
    <h2>Añadir desayuno</h2>
    <p>Mantén pulsado para repetir tu desayuno de ayer</p>
  </div>
</div>
<div class="card add" ng-show="trackBlock(2, day.day)">
  <item class="item item-body" nav-direction="enter" ui-sref="trackfood({mealId:2, day: day.day})">
    <span class="plus-circle-icon"></span>
    <h2 class="title">Añadir mediamañana</h2>
    <p>No olvides tomar algo entre el desayuno y tu comida</p>
  </item>
</div>
<div ng-repeat="nutritionSeccion in day.nutrition" class="card">
  <div class="item item-divider header">
    <div class="title">{{nutritionSeccion.type}}</div>
    <div class="resume">{{ calcularTotalCalorias(nutritionSeccion.typeId, day.day) }} Kcal <i class="ion-ios-information-outline"></i></div>
  </div>
  <div class="item item-body content">
    <ion-list>
    <ion-item class="item item-button-right item-remove-animate" ng-repeat="plato in nutritionSeccion.items" type="item-text-wrap">
    {{plato.title}}
    <span class="item-info">{{plato.quantity}}</span>
    <nire-plate-action-sheet plate="plato" meal="nutritionSeccion.type" day="day.day" />
  </ion-item>
</ion-list>
</div>
<a class="item item-divider footer item-icon-right" ui-sref="trackfood({mealId:nutritionSeccion.typeId, day: day.day})">
  Añadir más...
  <i class="icon ion-plus-round"></i>
</a>
</div>

<div ng-show="hasExercises(day.day)" class="card">
  <div class="item item-divider header">
    <div class="title">Actividad física</div>
    <div class="resume">{{tiempoEjercicio(day.day)}} min - {{caloriasConsumidas(day.day)}} Kcal<i class="ion-ios-information-outline"></i></div>
  </div>
  <div class="item item-body content">
    <ion-list>
        <ion-item class="item item-button-right item-remove-animate" ng-repeat="exercise in day.exercises" type="item-text-wrap">
        {{exercise.title}}
        <span class="item-info">{{exercise.gastoCalorico}} Kcal</span>
        <nire-exercise-action-sheet exercise="exercise" day="day.day" />
      </ion-item>
    </ion-list>
</div>
<a class="item item-divider footer item-icon-right" ui-sref="trackexercise({day: day.day})">
  Añadir más...
  <i class="icon ion-plus-round"></i>
</a>
</div>
<div class="card add">
  <div class="item item-body no-padding">
    <img src="img/others/mockups/widget_water.png">
  </div>
</div>
<div class="card add" ng-show="!hasExercises(day.day)">
  <div class="item item-body" ui-sref="trackexercise({day: day.day})">
    <span class="plus-circle-icon"></span>
    <h2>Añadir ejercicio físico</h2>
    <p>Esta semana no has realizado ningún ejercicio físico, ¡Empieza hoy!</p>
  </div>
</div>
<div class="card add" ng-show="trackBlock(3, day.day)">
  <div class="item item-body" nav-direction="enter" ui-sref="trackfood({mealId:3, day: day.day})">
    <span class="plus-circle-icon"></span>
    <h2>Añadir comida</h2>
    <p>Repon tus fuerzas por la tarde</p>
  </div>
</div>
<div class="card add" ng-show="trackBlock(4, day.day)">
  <div class="item item-body" nav-transition="none" nav-direction="enter" ui-sref="trackfood({mealId:4, day: day.day})">
    <span class="plus-circle-icon"></span>
    <h2>Añadir merienda</h2>
    <p>Repon tus fuerzas por la tarde</p>
  </div>
</div>
<div class="card add" ng-show="trackBlock(5, day.day)">
  <div class="item item-body" nav-transition="none" nav-direction="enter" ui-sref="trackfood({mealId:5, day: day.day})">
    <span class="plus-circle-icon"></span>
    <h2>Añadir cena</h2>
    <p>Cenar limpio y ligero te ayudará a no tener una digestión lenta y pesada</p>
  </div>
</div>
</ion-content>
</ion-slide-page>
</ion-slides>
</ion-view>
