<ion-view hide-nav-bar="true">
<ion-header-bar class="bar bar-header bar-dark">
  <div class="h1 title">Más...</div>
  <button class="button button-icon ion-android-exit" nire-logout analytics-on="click" analytics-event="loguot" analytics-category="loguot"></button>
</div>
</ion-header-bar>
  <ion-content class="has-header">
    <ion-list>
      <ion-toggle ng-model="settings.serverMonitor">Enable Server Monitor</ion-toggle>
    </ion-list>
    <ul>
      <li><button ng-click="initHealthTracking()" class="button button-full button-stable">Health Store</button></li>
      <li><button ng-click="restartMessages()" class="button button-full button-positive">Limpiar mensajes del chat</button></li>
      <li><button ng-click="restartConversation()"" class="button button-full button-calm">Reiniciar conversación Movistar</button></li>
      <li><button ng-click="showHelp()"" class="button button-full button-stable">Prueba</button></li>
    </ul>
  </ion-content>
</ion-view>
