<ion-view hide-nav-bar="true">

<ion-header-bar class="bar bar-header bar-dark">
  <div class="h1 title">Evolución</div>
  </div>
</ion-header-bar>

  <ion-content class="has-header">

    <ion-list class="transparent evolution">
        <a class="item item-icon-right high" href="#">
          <span class="value">2652 Kcal</span>
          <span style="right: 50px; position: absolute;">28/07/2016</span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item item-icon-right good" href="#">
          <span class="value">1982 Kcal</span>
          <span style="right: 50px; position: absolute;">27/07/2016</span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item item-icon-right good" href="#">
          <span class="value">2122 Kcal</span>
          <span style="right: 50px; position: absolute;">26/07/2016</span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item item-icon-right low" href="#">
          <span class="value">860 Kcal</span>
          <span style="right: 50px; position: absolute;">25/07/2016</span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item item-icon-right regular" href="#">
          <span class="value">2008 Kcal</span>
          <span style="right: 50px; position: absolute;">24/07/2016</span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>
        <a class="item item-icon-right regular" href="#">
          <span class="value">2265 Kcal</span>
          <span style="right: 50px; position: absolute;">23/07/2016</span>
          <i class="icon ion-ios-arrow-forward"></i>
        </a>

    </ion-list>

  </ion-content>
</ion-view>