<ion-view view-title="Account" hide-nav-bar="true">
<ion-header-bar class="bar bar-header bar-dark">
  <div class="h1 title">Más...</div>
  <button class="button button-icon ion-android-exit" nire-logout></button>
</div>
</ion-header-bar>
  <ion-content class="has-header">
    <ion-list>
      <ion-toggle ng-model="settings.serverMonitor">Enable Server Monitor</ion-toggle>
    </ion-list>
    <button ng-click="initHealthTracking()">Health Store</button>
    <button ng-click="restartMessages()">Limpiar mensajes del chat</button>
  </ion-content>
</ion-view>
