<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
<ion-pane>
<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- Chats Tab -->
  <ion-tab title="Chat" badge="chatBadge()" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/chats/1">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> 

  <!-- Dashboard Tab -->
  <ion-tab title="Diario" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/dash" disabled="profileNedded">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Evolution Tab -->
  <ion-tab title="Evolución" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/evolution" disabled="profileNedded">
    <ion-nav-view name="tab-evolution"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Más..." icon-off="ion-ios-more-outline" icon-on="ion-ios-more" href="#/tab/account" disabled="profileNedded">
    <ion-nav-view name="tab-account" class=""></ion-nav-view>
  </ion-tab>


</ion-tabs>
</ion-pane>
</ion-view>
