<ion-view hide-nav-bar="true" class="animated slideInUp" id="tracker">
<ion-header-bar class="bar bar-header bar-dark item-input-inset">
  <a ng-click="goBack()" class="back" nav-transition="none" nav-direction="exit"><i class="ion-close-round"></i></a>
  <label class="item-input-wrapper">
    <i class="icon ion-android-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-change="search()" ng-model="data.search" ng-model-options='{ debounce: 200 }'>
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</ion-header-bar>
    <ion-content>
      <ul class="list">
        <li class="item" ng-repeat="plate in data.plates" ng-click="addPlate(plate)">
          <span class="item-title">{{plate.fields.nombredieta[0]}}</span><br>
          <span class="item-info">{{plate.fields.kcal[0]}}Kcal</span>
        </li>
      </ul>
    </ion-content>
</ion-view>
