<ion-view hide-nav-bar="true" view-title="Welcome" id="welcome">
<ion-content class="padding" scroll="false">
<div class="logo">
	<img class="full-image" src="img/logo/logo_horizontal_light.png">
</div>
</ion-content>
<div class="fix-to-bottom">
	<div class="padding">
		<nire-facebook-login>Continuar con Facebook</nire-facebook-login>
		<button class="button button-block button-outline button-light icon-left ion-ios-email-outline" ui-sref="registro-datos" analytics-on="click" analytics-event="register" analytics-category="email">
			Regístrate con tu email
		</button>
		<button class="button button-block button-clear button-light" ui-sref="signin" analytics-on="click" analytics-event="login" analytics-category="iniciar_sesion">
			¿Ya tienes una cuenta? <span class="strong">Iniciar sesión</span>
		</button>
	</div>
	<div class="conditions centered">
		<p>
			Al continuar, estás de acuerdo con nuestros <br><a href="#">Términos de servicio</a> y <a href="#">Política de privacidad</a>
		</p>
	</div>
</div>

</ion-view>

