<ion-view hide-nav-bar="true" view-title="Welcome" id="welcome">
	<ion-content class="padding" scroll="false">
		<div class="logo">
			<img class="full-image" src="../img/logo/logo_horizontal_light.png">
		</div>
	</ion-content>
	<div class="fix-to-bottom">
  		<div class="padding">
    		<button class="button button-block button-positive" ui-sref="registro-datos">Regístrate</button>
    		<button class="button button-block button-clear button-light" ui-sref="signin">
    			¿Ya tienes una cuenta? <span>Iniciar sesión</span>
    		</button>
  		</div>
  	</div>
</ion-view>

