<ion-modal-view class="has-footer">
<ion-header-bar style="height: 45px">
<h1 class="title" style=="margin-top:0px;">Tiempo (en minutos)</h1>
</ion-header-bar>

<ion-content scroll="false">

<div class="row padding centered">
  <div class="col col-50 col-offset-25">
  	<div class="up" ng-click="exerciseModal.increaseTime()"></div>
  	<input ng-change="exerciseModal.keepOnlyNumbers()" ng-model="data.exerciseTime" type="tel" />
  	<div class="down" ng-click="exerciseModal.decreaseTime()"></div>
  </div>
</div>

<div class="row padding footer">
  <div class="col">
    <button class="button button-block button-stable" ng-click="exerciseModal.closeExerciseDetails()">
      Cancelar
    </button>
  </div>
  <div class="col">
    <button class="button button-block button-positive" ng-click="exerciseModal.saveDetails()">
      Guardar
    </button>
  </div>
</div>

</ion-content>

</ion-modal-view>