<ion-modal-view class="has-footer">
<ion-header-bar>
<h1 class="title">Tiempo (en minutos)</h1>
</ion-header-bar>

<ion-content scroll="false">

<div class="row padding centered">
  <div class="col col-50 col-offset-25">
  	<div class="up" ng-click="exerciseModal.increaseTime()"></div>
  	<input ng-model="data.exerciseTime" type="tel" />
  	<div class="down" ng-click="exerciseModal.decreaseTime()"></div>
  </div>
</div>


</ion-content>

<div class="bar bar-footer">
  <button class="button button-clear cancel" ng-click="exerciseModal.closeExerciseDetails()">Cancelar</button>  
  <button class="button button-clear action" ng-click="exerciseModal.saveDetails()">Guardar</button>  
</div>

</ion-modal-view>
