<ion-view hide-nav-bar="false" class="has-header">
<ion-nav-buttons side="right">
    <button class="button button-icon ion-close-round" ng-click="goBack()"></button>
</ion-nav-buttons>
<ion-content class="had-header light">
<div class="padding">
	<div class="card">
		<div class="item item-text-wrap centered">
			<h2 class="review-title">¡Puedes hacerlo mejor!</h2>
			
			Teniendo en cuenta tu ingesta de calorías y tu reparto de macronutrientes, vemos que aun tenemos algo que mejorar.
			
		</div>
	</div>
	<div class="card light centered">
		<div class="item item-text-wrap">
			<h2>Consumo de calorías</h2>
			<br>
			<div class="col-50 col-offset-25">
				<div class="donut-chart" style="margin: 0 auto;">
					<div class="data-content">
						<div class="current">
							{{data.review.kcal.current}}
						</div>
						<div class="max">
							de {{data.review.kcal.target}} Kcal
						</div>
					</div>
					<round-progress
					max="data.review.kcal.chart.max"
					current="data.review.kcal.chart.current"
					color="{{data.review.kcal.chart.fg}}"
					bgcolor="{{data.review.kcal.chart.bg}}"
					radius="200"
					stroke="20"
					semi="false"
					rounded="true"
					clockwise="true"
					responsive="true"
					duration="2500"
					animation="easeInOutQuart"
					animation-delay="500" /></round-progress>
				</div>
			</div>
			<br>
			<div ng-repeat="msg in data.review.kcal.messages">
			{{msg}}
			</div>
			<span ng-show="data.review.kcal.diff > 0">Has consumido <span class="remaining">{{data.review.kcal.diff}}</span> calorías de más. <br>
			</span>
			<span ng-show="data.review.kcal.diff < 0">Has consumido <span class="remaining">{{-1*data.review.kcal.diff}}</span> calorías de menos. <br>
			</span>
		</div>
	</div>

	<div class="card light">
		<div class="item item-text-wrap">
			<h2 class="centered">Macronutrientes</h2>
			<br>
			<div class="row centered">
				<div class="col">
					<div class="donut-chart" style="margin: 0 auto; position: relative!important;">
						<div class="data-content">
							<div class="current small">
								{{data.review.macros.hc.current}}
							</div>
							<div class="max small">
								de {{data.review.macros.hc.target}} gr
							</div>
						</div>
						<round-progress
						max="data.review.macros.hc.chart.max"
						current="data.review.macros.hc.chart.current"
						color="{{data.review.macros.hc.chart.fg}}"
						bgcolor="{{data.review.macros.hc.chart.bg}}"
						radius="200"
						stroke="20"
						semi="false"
						rounded="true"
						clockwise="true"
						responsive="true"
						duration="2500"
						animation="easeInOutQuart"
						animation-delay="700" /></round-progress>
					</div>
					<h3 class="macro-title">Carbohidratos</h3>
					<span ng-show="data.review.macros.hc.diff > 0" class="macro-quantity-difference">{{data.review.macros.hc.diff}} gr. de más</span>
					<span ng-show="data.review.macros.hc.diff < 0" class="macro-quantity-difference">{{-1*data.review.macros.hc.diff}} gr. restantes</span>
				</div>
				<div class="col">
					<div class="donut-chart" style="margin: 0 auto; position: relative!important;">
						<div class="data-content">
							<div class="current small">
								{{data.review.macros.pt.current}}
							</div>
							<div class="max small">
								de {{data.review.macros.pt.target}} gr
							</div>
						</div>
						<round-progress
						max="data.review.macros.pt.chart.max"
						current="data.review.macros.pt.chart.current"
						color="{{data.review.macros.pt.chart.fg}}"
						bgcolor="{{data.review.macros.pt.chart.bg}}"
						radius="200"
						stroke="20"
						semi="false"
						rounded="true"
						clockwise="true"
						responsive="true"
						duration="2500"
						animation="easeInOutQuart"
						animation-delay="1000" /></round-progress>
					</div>
					<h3 class="macro-title">Proteínas</h3>
					<span ng-show="data.review.macros.pt.diff > 0" class="macro-quantity-difference">{{data.review.macros.pt.diff}} gr. de más</span>
					<span ng-show="data.review.macros.pt.diff < 0" class="macro-quantity-difference">{{-1*data.review.macros.pt.diff}} gr. restantes</span>
				</div>
				<div class="col">
					<div class="donut-chart" style="margin: 0 auto; position: relative!important;">
						<div class="data-content">
							<div class="current small">
								{{data.review.macros.lp.current}}
							</div>
							<div class="max small">
								de {{data.review.macros.lp.target}} gr
							</div>
						</div>
						<round-progress
						max="data.review.macros.lp.chart.max"
						current="data.review.macros.lp.chart.current"
						color="{{data.review.macros.lp.chart.fg}}"
						bgcolor="{{data.review.macros.lp.chart.bg}}"
						radius="200"
						stroke="20"
						semi="false"
						rounded="true"
						clockwise="true"
						responsive="true"
						duration="2500"
						animation="easeInOutQuart"
						animation-delay="1300" /></round-progress>
					</div>
					<h3 class="macro-title">Grasas</h3>
					<span ng-show="data.review.macros.lp.diff > 0" class="macro-quantity-difference">{{data.review.macros.lp.diff}} gr. de más</span>
					<span ng-show="data.review.macros.lp.diff < 0" class="macro-quantity-difference">{{-1*data.review.macros.lp.diff}} gr. restantes</span>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div ng-repeat="msg in data.review.macros.messages">
					{{msg}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</ion-content>
</ion-view>
