<ion-view title="Daily Review" hide-nav-bar="false" class="has-header">
<ion-content class="has-header light">
<div class="padding">
	<div class="card">
		<div class="item item-text-wrap centered">
			<h2 class="review-title">¡Puedes hacerlo mejor!</h2>
			
			Teniendo en cuenta tu ingesta de calorías y tu reparto de macronutrientes, vemos que aun tenemos algo que mejorar.
			
		</div>
	</div>
	<div class="card light centered">
		<div class="item item-text-wrap">
			<h2>Consumo de calorías</h2>
			<br>
			<div class="col-50 col-offset-25">
				<div class="donut-chart" style="margin: 0 auto;">
					<div class="data-content">
						<div class="current">
							783
						</div>
						<div class="max">
							de 2100 Kcal
						</div>
					</div>
					<round-progress
					max="2100"
					current="783"
					color="#E74C3C"
					bgcolor="#ECF0F1"
					radius="200"
					stroke="20"
					semi="false"
					rounded="true"
					clockwise="true"
					responsive="true"
					duration="2500"
					animation="easeInOutQuart"
					animation-delay="0" /></round-progress>
				</div>
			</div>
			<br>
			Te faltaron consumir <span class="remaining">1217</span> calorías, <br>
			¿te olvidaste de introducir algún alimento?
		</div>
	</div>

	<div class="card light">
		<div class="item item-text-wrap">
			<h2 class="centered">Macronutrientes</h2>
			<br>
			<div class="row centered">
				<div class="col">
					<div class="donut-chart" style="margin: 0 auto; position: relative!important;">
						<div class="data-content">
							<div class="current small">
								73
							</div>
							<div class="max small">
								de 210 gr
							</div>
						</div>
						<round-progress
						max="210"
						current="73"
						color="#E74C3C"
						bgcolor="#7AB800"
						radius="200"
						stroke="20"
						semi="false"
						rounded="true"
						clockwise="true"
						responsive="true"
						duration="2500"
						animation="easeInOutQuart"
						animation-delay="0" /></round-progress>
					</div>
					<h3 class="macro-title">Carbohidratos</h3>
					<span class="macro-quantity-difference">73 gr de más</span>
				</div>
				<div class="col">
					<div class="donut-chart" style="margin: 0 auto; position: relative!important;">
						<div class="data-content">
							<div class="current small">
								41
							</div>
							<div class="max small">
								de 94 gr
							</div>
						</div>
						<round-progress
						max="94"
						current="41"
						color="#E74C3C"
						bgcolor="#ECF0F1"
						radius="200"
						stroke="20"
						semi="false"
						rounded="true"
						clockwise="true"
						responsive="true"
						duration="2500"
						animation="easeInOutQuart"
						animation-delay="0" /></round-progress>
					</div>
					<h3 class="macro-title">Proteínas</h3>
					<span class="macro-quantity-difference">53 gr de más</span>
				</div>
				<div class="col">
					<div class="donut-chart" style="margin: 0 auto; position: relative!important;">
						<div class="data-content">
							<div class="current small">
								64
							</div>
							<div class="max small">
								de 70 gr
							</div>
						</div>
						<round-progress
						max="70"
						current="64"
						color="#7AB800"
						bgcolor="#ECF0F1"
						radius="200"
						stroke="20"
						semi="false"
						rounded="true"
						clockwise="true"
						responsive="true"
						duration="2500"
						animation="easeInOutQuart"
						animation-delay="0" /></round-progress>
					</div>
					<h3 class="macro-title">Grasas</h3>
					<span class="macro-quantity-difference">6 gr restantes</span>
				</div>
			</div>
			<div class="row">
				<div class="col">
					¡Enhorabuena! Llegaste a la cantidad recomendada de grasa. Opta por el aceite de oliva.
					<br>
					Añade alimentos con proteínas como pescado, legumbres o pollo.
					<br>
					Vigila el exceso de hidratos. Evita las bebidas azucaradas y opta por tomar agua o jugos naturales sin azucar.
				</div>
			</div>
		</div>
	</div>
</div>
</ion-content>
</ion-view>
