<ion-view hide-nav-bar="false">
	<ion-nav-title>{{data.review.title}}</ion-nav-title>
	
	<ion-nav-buttons side="left">
		<button class="button button-icon ion-close-round" ng-click="goBack()"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">
		<div class="padding">
			<div ng-include="'http://localhost:8080/nire/widgets/dailyReview.htm'"></div>
			<div ng-include="'http://localhost:8080/nire/widgets/dailyCalories.htm'"></div>
			<div ng-include="'http://localhost:8080/nire/widgets/dailyNutrients.htm'"></div>
		</div>
	</ion-content>
</ion-view>
