<div class="bubble {{message.source}} animated fadeIn">
    <p>{{message.text}}</p>
</div>

<div nire-response="hasResponse">
	<div class="text-chat-wrapper animated fadeIn nire-false">
		<div class="item bubble user">
			<label class="item item-input">
		    	<input type="date" ng-model="message.value" ng-keyup="$event.keyCode == 13 && sendResponseDate()" />   
		    </label> 	
		</div>

		<div class="send-chat">
			<button class="button icon ion-forward" ng-click="sendResponseDate()"></button>
		</div>
	</div>

	<div class="item bubble user animated fadeIn nire-true">
	    <p>{{ getResponse().message }}</p>
	</div>
</div>
