<ion-view view-title="Regístrate" id="signin">
    <ion-content class="has-header padding">
        <p>Te hemos enviado un SMS con un código al número anteriormente indicado.</p>
        <p>Para completar la verificación de tu número de celular, por favor, introduce
            el código de activación de 6 dígitos</p>
            
        <label class="item item-input">
            <input type="number" placeholder="Código de activación">
        </label>
        <button class="button button-block button-positive" ui-sref="welcome">
            Hasta aquí llegamos...
        </button>
    </ion-content>
</ion-view>