<ion-view view-title="Registra tus datos" id="signin">
  <ion-content class="has-header">
    <div class="list list-inset transparent">
      <label class="item item-input">
        <input type="text" placeholder="Nombres">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Apellidos">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Correo electrónico">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Contraseña">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Repite tu contraseña">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ui-sref="registro-numero">
        Siguiente
      </button>
      <button class="button button-block button-positive">
        Regístrate con Facebook
      </button>
    </div>
  </ion-content>
</ion-view>