<ion-view view-title="Regístrate" id="signin">
    <ion-content class="has-header light centered">
        <div class="padding">
        <p class="padding-vertical">Introduce tu número de Movistar para disfrutar de las ventajas de Salud Movistar</p>
        <label class="item item-input">
            <input type="tel" placeholder="Número de celular">
        </label>
        <button class="button button-block button-positive" ui-sref="registro-no-movistar">
            Siguiente (no movistar)
        </button>
        <button class="button button-block button-positive" ui-sref="registro-codigo">
            Siguiente (movistar)
        </button>
    </div>
    </ion-content>
</ion-view>